.round-img{
    width: 40;
    height: 40;

    border-radius: 100%;
    border: thick double var(--white-color);

    
    box-shadow: 12px 12px 2px 1px rgba(184, 152, 131, 0.2);


    object-fit: cover;
}

