.resume{
    width: 70%;
    margin: 0 auto;

    flex-direction:row;
    flex-wrap: wrap;
    
    align-items: flex-start;
    justify-content: space-evenly;

    background-color: var(--resume-color);
    opacity: 50%;
}

.experience{
    width: 70%;
    flex-grow: 2;
}

.resume aside{
    display: flex;

    flex-grow: 0;
    flex-direction: column;
    gap: 2em;
}