:root{
    --base-color: #252323;
    --accent-color: #A99985;
    --light-color: #F5F1ED;


    --base-font:  Verdana, Geneva, Tahoma, sans-serif;
    --accent-font: 'Playfair Display', serif;

   
}