:root{
    --base-color: #003652;
    --accent-color: #250902;
    --light-color: #e7d7c1;

    


    --base-font:  Verdana, Geneva, Tahoma, sans-serif;
    --accent-font:'Roboto Slab', serif;

   
}