:root{
    --base-color: #003652;
    --accent-color: #240903;
    --light-color: #e7d7c1;
    --white-color: #fff;
    --resume-color: rgb(255, 255, 255);

    


    --base-font:  'Noto Sans Thai', sans-serif;
    --accent-font:'Tiro Telugu', serif;

   
}
